@keyframes fadeIn {
    from {
        opacity: 0.99;
    }
    to {
        opacity: 1;
    }
}

.logo {
    position: absolute;
    opacity: 0;
    left: 20px;
    top: 20px;
    animation: fadeIn 0.5s ease-in;
}

.name-text {
    color: #0ec254;
    font-family: 'Kanit', sans-serif;
}