@import url('https://fonts.googleapis.com/css?family=Kanit:800i');


ion-content {
  // --background: linear-gradient(45deg, rgba(49,165,199,1) 0%, rgba(1,99,141,1) 100%); /* w3c */
  position: absolute !important;
  margin-top: 50%;
  margin-bottom: 50%;
}

.content {
  margin-top: 50% !important;
}

.subText {
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-button {
  width: 250px;
  height: 40px;
  margin-left: 40px;
}



