<ion-header>

</ion-header>

<ion-content padding>
  <ion-grid  class="content"> 
    <ion-row align-items-center>
    <ion-col>
    <ion-img style="margin-top: 40px !important;" src="../../../assets/splash-screen/landing-logo.png"></ion-img>
      <ion-row class="subText" align-items-center>
      </ion-row>
    <ion-button expand="block" type="button" [routerLink]="['/login']"><ion-ripple-effect></ion-ripple-effect>Login</ion-button>
    <ion-button expand="block" type="button" [routerLink]="['/register']"><ion-ripple-effect></ion-ripple-effect>Register</ion-button>
  </ion-col>
</ion-row>
  </ion-grid>
</ion-content>
