<ion-header>
  <ion-toolbar color="success">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="title">
      <ion-text color="light"><h4>Personal Details</h4></ion-text>
    </ion-row>
    <ion-row>
      <ion-avatar class="avatar">
        <img src="../../../assets/profile.png">
      </ion-avatar>
    </ion-row>
    <ion-row class="name">
      <ion-text color="light"><h4 class="username">{{userObj.firstName}} {{userObj.lastName}}</h4></ion-text>
    </ion-row>
    <ion-row class="phone">
      <ion-icon class="icon" name="call" size="small" color="light"></ion-icon>
      <ion-text color="light"><h4 class="number"> :  {{userObj.phoneNumber}}</h4></ion-text>
    </ion-row>
      <ion-item></ion-item>
      <ion-item></ion-item>
      <ion-item></ion-item>
  </ion-grid>
</ion-content>



  <ion-button expand="full" (click)="logout()">Logout</ion-button>

