ion-content {
  --background: linear-gradient(45deg, rgba(49,165,199,1) 0%, rgba(1,99,141,1) 100%); /* w3c */
}

ion-card {
  --background:  #ffffff !important;
  border-radius: 18px;
  height: 100px;
  width: 90%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ion-img {
  margin-bottom: 22px;
}

ion-card-title {
  font-size: 18px;
}

.description {
  margin-top: 2px;
}

h1 {
  font-size: 14px;
}

ion-text {
  margin-top: -18px;
}

.startDate {
  font-size: 10px !important;
}

.date {
  --background: #57B2CD !important;
  --color: white !important;
  --padding: 5;
  --opactity: 1 !important;
}