ion-content {
  --background: linear-gradient(45deg, rgba(49,165,199,1) 0%, rgba(1,99,141,1) 100%);
}

ion-card {
  --background:  #ffffff !important;
  border-radius: 18px;
  height: 100px;
  width: 90%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ion-img {
  margin-bottom: 22px;
}

ion-card-title {
  font-size: 18px;
}

.description {
  margin-top: 2px;
}

.description-text {
  margin-left: 5px;
}


h1 {
  font-size: 14px;
}

ion-text {
  margin-top: -18px;
}

.startDate {
  font-size: 10px !important;
  margin-left: 235px !important;
  z-index: 1 !important;
  margin-top: 10px !important;
}

.date {
  --background: #57B2CD !important;
  --color: white !important;
  --padding: 5;
  --opactity: 1 !important;
}

.rate {
  margin-left: 235px !important;
  font-size: 10px !important;
  margin-top: 0px !important;
}

ion-grid {
  padding-top: 0px !important;
}

.buttons { 
  margin-bottom: 0x !important;
  margin-left: 220px !important;
}

ion-button {
  padding: 0px !important;
}

.date {
  margin-left: 18px !important;
}

.welcome {
  margin-left: 18px !important;
}

.create {
  left: 10px !important;
}