<ion-header>
  <ion-toolbar color="success">
    <ion-title>Subscription Bot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="subscription">
      <ion-label>Subscriptions</ion-label>
      <ion-icon name="paper"></ion-icon>
      <ion-badge>5</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>